###############################################################################
# Logs
###############################################################################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

###############################################################################
# Dependencies
###############################################################################
node_modules/
.pnp
.pnp.js

###############################################################################
# Build outputs
###############################################################################
dist/
dist-ssr/
build/
functions/lib/
functions/node_modules/
functions/dist/

###############################################################################
# Environment Secrets
###############################################################################
.env
.env.*
!.env.example

# Firebase Functions env files
functions/.env
functions/.env.*
!functions/.env.example

###############################################################################
# System Files (Windows / macOS)
###############################################################################
.DS_Store
Thumbs.db

###############################################################################
# Editor/IDE files
###############################################################################
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

###############################################################################
# Testing / Coverage
###############################################################################
coverage/
*.lcov

###############################################################################
# Misc
###############################################################################
*.local
